Python Sets

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Duplicates Not Allowed

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

Get the Length of a Set

In [5]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

The set() Constructor

In [6]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

Python - Access Set Items

Access Items

In [7]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [8]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [9]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Python - Add Set Items

Add Items: add()

In [1]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

Add Sets: update()

In [2]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'apple', 'pineapple', 'mango', 'cherry', 'papaya'}

Add Any Iterable

In [3]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'apple', 'kiwi', 'cherry', 'orange'}

Python - Remove Set Items

Remove Item: remove() / discard()

In [4]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [5]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [ ]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [7]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)
#this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

Python - Loop Sets

Loop Items

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

Python - Join Sets

Union
The union() method returns a new set with all items from both sets.

In [9]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 'a', 'c', 3}

In [ ]:
#Use | to join two sets:

In [10]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 'a', 'c', 3}

Join Multiple Sets

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'bananas', 1, 2, 3, 'apple', 'Elena', 'b', 'a', 'c', 'cherry', 'John'}

In [12]:
#Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'bananas', 1, 2, 3, 'apple', 'Elena', 'b', 'a', 'c', 'cherry', 'John'}

Join a Set and a Tuple

In [13]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

Update
The update() method inserts all items from one set into another.
The update() changes the original set, and does not return a new set.

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 'a', 'c', 3}

Intersection
Keep ONLY the duplicates
The intersection() method will return a new set, that only contains the items that are present in both sets.

In [15]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [16]:
#Use & to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [18]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [19]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [20]:
#Use - to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [21]:
#Use the difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [22]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

In [23]:
#Use ^ to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

In [24]:
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'cherry', 'microsoft'}